@charset "utf-8";

.loading {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    font-size: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 2s;
}

.loading.active {
    opacity: 1;
    visibility: visible;
}

@keyframes show-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-animation {
    font-family: 'Tangerine', cursive;
    animation: show-text 1s;
}

.text-animation span {
    animation: show-text .05s backwards;
    opacity: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav video {
    width: 100%;
    height: 100%;
}

nav div {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1;
}

.contents {
    color: #fff;
    background-color: #606060;
    width: 100%;
    padding: 50px 0;
    margin-top: 100px;
    cursor: pointer;
}

.contents li {
    position: relative;
}

.contents li {
    margin-top: 200px;
    margin-bottom: 400px;
}

.contents li:nth-of-type(4) {
    margin-bottom: 100px;
}

.content {
    position: relative;
}

.content-text {
    position: absolute;
    top: -20px;
    left: 15%;
    opacity: 0;
    z-index: 1;
}

.content-text h2 {
    font-size: 4.5rem;
    font-family: 'Tangerine', cursive;
    color: #fafafa;
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 3px 3px #000;
    
}

.content-text span {
    font-size: 6rem;
    color: #d70035;
}

.animation-target.move {
    opacity: 1;
    
}

.animation-target.move h2 {
    opacity: 1;
    transition: 2S;
    transform: translateX(-30px);
    animation: slider 2s;
}

.picture {
    width: 700px;
    height: 500px;
    margin: auto;
}

.picture div {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.picture .about {
    background-image: url("img/about-me.jfif");
}

.picture .works {
    background-image: url("img/works.jpg");
}

.picture .favorite {
    background-image: url("img/favorite.jpg");
}

.picture .contact {
    background-image: url("img/contact.jpg");
}

.animation-screen {
    position: relative;
    overflow: hidden;
}

.animation-screen div {
    opacity: 0;
}

@keyframes show-elements {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animation-screen.show div {
    animation: show-elements .001s .5s forwards;
}

.animation-screen::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #202020;
    transform: translateX(-100%);
}

@keyframes show-mask {
    0% {
        transform: translateX(-100%);
    }
    45% , 55% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.animation-screen.show::before {
    animation: show-mask .9s forwards;
}

@media (max-width:768px) {

    nav {
        height: 40vh;
    }

    nav div {
        top: 40%;
        left: 23%;
    }

    .contents {
        padding: 30px 0;
        margin-top: 0;
    }

    .contents li {
        margin: 100px 0;
    }

    .picture {
        width: 300px;
        height: 200px;
    }
}
